*.err  # ignore job error outputs
*.log  # ignore job log outputs
*.ipynb
train_gpt2_jobs.sh  # ignore the high-level script with login key info
/wandb/
/notebooks/.ipynb_checkpoints/

# Editors
.idea
.vscode

# Python
*/__pycache__

# Models
rnn_models
