*.err  # ignore job error outputs
*.log  # ignore job log outputs
*.ipynb
*.jpg
*.png
*.pdf
# ignore data folder
data 

models/rnn/wandb

train_gpt2_jobs.sh  # ignore the high-level script with login key info
/wandb/
/notebooks/
/notebooks/.ipynb_checkpoints/
/output/
/rnn/wandb/
hpc/*
/data/transformer_input_files/
/data/rnn_input_files/
/greene_scripts/lstm/wandb/
/src/wm_suite/rnn/wandb/
src/models/rnn/wandb/*
wm_suite/rnn/wandb/run-*
hpc/lstm/wandb/offline-run*/
hpc/lstm/wandb/run*/

# Editors
.idea
.vscode

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Spyder project settings
.spyderproject
.spyproject

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Models
rnn_models
